<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>DataApp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Dataplug</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.360610928796-j3mk7rtrhhb3l5i13cnavu30n8m2l95i</string>
				<string>fb1370731344261040</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
<string>1370731344261040</string>
<key>FacebookClientToken</key>
<string>4feb7084c259f14a04d188e448bc7815</string>
<key>FacebookDisplayName</key>
<string>DataApp</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>GIDClientID</key>
	<string>360610928796-j3mk7rtrhhb3l5i13cnavu30n8m2l95i.apps.googleusercontent.com</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSUserTrackingUsageDescription</key>
    <string>Your app uses IDFA to improve ad personalization.</string>
	<key>NSContactsUsageDescription</key>
	<string>Allows users to select a phone number from their contact list to easily complete bill payments and transactions.</string>
	
	<key>NSCameraUsageDescription</key>
	<string>We use your camera so you can take photos for your profile, receipts, or to verify payments within the app.</string>
	
	<key>NSFaceIDUsageDescription</key>
	<string>Allows users to securely unlock and access their account using Face ID authentication.</string>
	
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need access to your photo library so you can upload images for your profile or share payment receipts.</string>
	
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library so you can upload images for your profile or share payment receipts.</string>
	
	<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>itms</string>
			<string>https</string>
			<string>http</string>
			<string>mailto</string>
			<string>tel</string>
		</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
